h1 {
    text-align: center;
}

#grille {
    margin: auto;
    width: 300px;
    margin-top: 60px;
}

td {
    height: 100px;
    width: 100px;
}

table, tr, td {
    border: 1px solid black;
}

input {
    margin-left: 47%;
    margin-top: 35px;
}
